* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}
    


.site-header {
    max-width: 22rem;
    padding-right: 50px;
    margin-left: 15%;
}

nav {
    top: 0;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #BCCFDA;
    color: #698684;
    font-family: "Poppins", sans-serif;
}


.nav-links {
    display: flex;
    width: 60%;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 1s;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #374a47;
    text-decoration: none;
    padding: 10px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(77, 77, 77);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .burger {
        display: block;
        cursor: pointer;
    }

    nav {
        display: none;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


section {
    max-width: 1500px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

.tekst > h1 {
    padding: 40px 0 40px 0;
    font-weight: 400;
    font-size: 40px;
    
}

.tekst > h3 {
    font-weight: 400;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tekst > p {
    font-weight: 300;
}

.photos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;


}


.nyhedsbrev-wrapper {
    background-color: #BCCFDA;
    padding: 40px;
    color: white;
    font-size: 20px;
}

.nyhedsbrev {
    font-weight: 300;
    margin-left: 10%;
}

footer {
    background-color: #587471;
    color: white;
    padding: 40px 50px 40px 50px;
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
}
