* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.site-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-left: 20%;

}


.burger {
    display: none;
}

.burger div {
    width: 40px;
    height: 4px;
    background-color: black;
    margin: 5px;
}





nav {
    display: flex;
    align-items: flex-end;
    min-height: 8vh;
    background-color: #BCCFDA;
    color:  #698684;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 44%;
    margin-left: 17%;
}

.nav-links a {
    text-decoration: none;
}




@media screen and (max-width:1024px) {

}


@media screen and (max-width:768) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;

        background-color: black;
    }
}

