* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
    


.site-header {
    margin-top: 20px;
    max-width: 28rem;
    padding-right: 50px;
    margin-left: 17%;
}

nav {
    top: 0;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 8vh;
    background-color: #BCCFDA;
    color: #698684;
}


.nav-links {
    display: flex;
    padding-bottom: 40px;
    width: 70%;
    height: 22px;
    text-decoration: none;
    color: #374a48;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #374a47;
    text-decoration: none;
    padding: 10px;
}


@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


section {
    max-width: 1500px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

.tekst > h1 {
    padding: 40px 0 40px 0;
    font-weight: 400;
    font-size: 50px;
    
}

.tekst > h3 {
    font-weight: 400;
    font-size: 34px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tekst > p {
    font-weight: 300;
}

.photos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.nyhedsbrev-wrapper {
    background-color: #BCCFDA;
    padding: 40px;
    color: white;
    font-size: 20px;
}

.nyhedsbrev {
    font-weight: 300;
    margin-left: 10%;
}

footer {
    background-color: #587471;
    color: white;
    padding: 40px 50px 40px 50px;
    
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    section {
        padding: 80px;
    }
}

@media screen and (max-width: 800px) {
    section {
        padding: 30px;
    }
}

@media screen and (max-width: 550px) {
    section {
        padding: 15px;
    }
}