/* Stjernen herunder betyder, at det inden for tuborgklammerne rammer alt i css-dokumentet*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* style til den ul jeg har indsat på hjemmesiden */
.vi-tilbyder {
    padding: 5px 0 20px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 25px;
}

/* TEST overwrite for at fjerne padding-left fra demenshjemmesiden index kode */
.site-section {
    padding-left: 0;
    max-width: 1650px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Skjul billederne som standard */
.mySlides {
    display: none;
}

/* Næste og forrige knapper */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: red;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

 /* specifik styling til næste knappen*/
.next {
    right: 0; /* placerer den helt til højre af skærmen */
    border-radius: 3px 0 0 3px;
}

/* Ved hover, tilføj en lidt gennemsigtig sort baggrundsfarve */
.prev:hover, .next:hover {
    background-color: rgba (0,0,0,0.8);
}

/* Tekst til billed-captions */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: blueviolet;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: chocolate;
}

