* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    
}

body {
    background-color: rgb(145, 145, 145);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
}



/* banner assets*/

.hjerte {
    color: #C22928;
}

.logo {
    display: flex;
    align-self: center;
    padding: 10px;
}


/*Banner 1*/ 

.banner1-container {
    display: flex;
    width: 728px;
    height: 90px;
    background-color: #BCCFDA;
    color: #698684;
    font-size: 20px;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.fulde-logo {
    display: flex;
    font-size: 11px;
}

.logo-text{
    color: white;
}

.boks {
    border: #698684 solid 2px;
    border-radius: 10%;
    width: 4rem;
    height: 4rem;
    margin: auto;

}